<body>
  <%= form_with(url: "/users",method: "POST",class: "Add todo") do %>
    <input class="AddTodo-text" type="text" placeholder="what is your role?" name="role">
    <input class="AddTodo-button" type="submit" value="Add">
  <% end %>
</body>
