<style>
  body {
    background-image: url('about-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
</style>


<section class = "admin">
  <style>
    a:link, a:visited {
      background-color: lightblue;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

    a:hover, a:active {
      background-color: blue;
    }
  </style>
  <section class ="Admin-Operations-Main">
    <div class ="Admin-Operations">
      <p> Users </p>
      <a href="/customers"> <img src = https://simpleicon.com/wp-content/uploads/users.png style="width:82px; height:86px"  > </a>
    </div>
    <div class ="Admin-Operations">
      <p> Clerks </p>
      <a href="/clerks"> <img src = https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTBWd8ttTpd5lgqtGhv7OaWaTbR-vjvfl9dgw&usqp=CAU style="width:82px; height:86px"  > </a>
    </div>
    <div class ="Admin-Operations">
      <p>  Menus </p>
      <a href= "menus/new"> <img src = https://www.europress.md/wp-content/uploads/2018/05/Menus-140x200-mm-variety-of-menus-europress-printing-house.jpg style="width:82px; height:86px"  > </a>
    </div>
    <div class ="Admin-Operations">
      <p> Walk-in Customer </p>
      <a href= "/menus"> <img src = https://previews.123rf.com/images/artisticco/artisticco1501/artisticco150100020/35291967-illustration-of-kids-ordering-food-at-a-fast-food-restaurant.jpg style="width:82px; height:86px"  > </a>
    </div>
    <div class ="Admin-Operations">
      <p>  Menu-Items  </p>
      <a href= "/menu_items"> <img src = https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSosnud2YMMLUaLQubEY7e82Qn64kOsyvA_oA&usqp=CAU style="width:82px; height:86px" > </a>
    </div>
    <div class ="Admin-Operations">
      <p> All Orders   </p>
      <a href="/orders"> <img src = https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRRvm-F1TJieBrdLKeSFTz2xjKwVQ0D91QlVg&usqp=CAU style="width:82px; height:86px"  > </a>
    </div>

    <div class ="Admin-Operations">
      <p> ORDERS </p>
      <a href="/pending_orders"> <img src = https://media.istockphoto.com/vectors/red-rubber-stamp-icon-on-transparent-background-vector-id834845590?b=1&k=6&m=834845590&s=170667a&h=Jc-keR0YrN4-puKebfyErBKWA3HrAulIuLOFGYxoDPc= style="width:82px; height:86px"  > </a>
    </div>
  </section>
</section>
