<!DOCTYPE html>
<html lang="en">


<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title>College Cafeteria</title>
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="home-app.css">


</head>

<body>
  <article class="CafemainPage">
    <p class="Cafe-Name"> College Cafeteria </p>

    <p class="Admin"> <%= link_to "Get Into Our Cafe!" , users_path %> </p>

    <section class="Menus-List">
      <p class="Menu-Name"> Chinese </p>
      <a href="javascript:void(0)" class="Menu-Image">
        <img src="chinese.jpg" height="120" width="120" class="Image">
        <img src="chinese2.jpeg" height="120" width="120" class="Image">
      </a>
      <p class="Menu-Name"> South-Indian </p>
      <a href="javascript:void(0)" class="Menu-Image">
        <img src="south-ind.jpeg" height="120" width="120" class="Image">
        <img src="south-ind2.jpeg" height="120" width="120" class="Image">
      </a>
      <p class="Menu-Name"> North-indian </p>
      <a href="javascript:void(0)" class="Menu-Image">
        <img src="north-ind.jpeg" height="120" width="120" class="Image">
        <img src="north-ind2.jpeg" height="120" width="120" class="Image">
      </a>
    </section>
  </article>
</body>

</html>
