html{
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;

}
body{
  margin: 25px;
  font-family: sans-serif;
  min-width: 100%;
  min-height: 100%;
}
.Cafe-Page{
  align-items: center;
  align-content: center;
}

.Cafe-Home{
  background-color: white;
  font-size: 50px;
  line-height: 1.6;
  font-weight: 600;
  margin-left: 600px;
  margin-right: 750px;
}
.CafeMainPage{
  align-items: center;
  align-content: center;
  margin-left: inherit;
}
.Cafe-Title{
  display: flex;
  color: black;
  align-items: center;

}
.Cafe-Name{
  font-size: 50px;
  line-height: 1.6;
  font-weight: 600;
  margin-bottom: 16px;
  background-color: white;
  color: blue;
  margin-left: 600px;
}
.Person{
  margin-left: 20px;

}
.User{
  display: flex;
  font-size: 26px;
  color: red;
  margin-bottom: 20px;
}
.Admin{
  margin-left: 100px;
}
.Clerk{
  margin-left: 100px;
}



.Menu-Name{
  color: blueviolet;
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Menu-Image{
  display: flex;
  padding-left: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.Image{
  padding-left: 15px;
  margin-left: 20px;
}

.UserHeader{
  padding: 10px;
  background-color: lightgray;
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.Flash-Error{
  color: darkred;
  margin-bottom: 20px;
  font-size: 16px;

}
.Form-Submit{
  font-size: 20px;
  background-color: #38d838;
  padding: 8px;
  border: 0;
  border-radius: 4px;
  margin-top: 20px;

}
