html{
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;

}
body{
  margin: 25px;
  font-family: sans-serif;
  min-width: 100%;
  min-height: 100%;
}
.Cafe-Page{
  display: grid;
  justify-content: center;
  margin-top: 50px;
  margin-left: 120px;


}

.Cafe-Home{
  font-size: 50px;
  line-height: 1.6;
  font-weight: 600;
  color: white;
  text-align: center;
}
.Cafe-Head{
  display: grid;
  justify-content: end;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  padding: 10px;

}
.CafeMainPage{
  align-items: center;
  align-content: center;
  margin-left: inherit;
}
.Cafe-Title{
  display: flex;
  color: black;
  align-items: center;

}
.Cafe-Name{
  text-align: center;
  font-size: 50px;
  line-height: 1.6;
  font-weight: 600;
  margin-bottom: 16px;
  color: red;
  text-decoration: solid;
}
.Person{
  margin-left: 20px;

}
.User{
  display: flex;
  font-size: 26px;
  color: red;
  margin-bottom: 20px;
}
.Admin{
  margin-left: 100px;
}
.Clerk{
  margin-left: 100px;
}



.Menu-Name{
  color: blueviolet;
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Menu-Image{
  display: flex;
  padding-left: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.Image{
  padding-left: 15px;
  margin-left: 20px;
}


.Flash-Error{
  color: darkred;
  margin-bottom: 20px;
  font-size: 16px;

}
.Form-Submit{
  font-size: 20px;
  background-color: #38d838;
  padding: 8px;
  border: 0;
  border-radius: 4px;
  margin-top: 20px;

}
.All-header{
  text-align: center;
  color: blueviolet;
  font-size: 75px;
  font-style: oblique;
  line-height: 20px;
  margin-top: 30px;
}
.Sub-header{
  text-align: center;
  font-size: 20px;
  margin-left: 450px;
  margin-top: 45px;
  color: blue;

}
.Header-Grid{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  grid-column-gap: 20px;
}
.Sign-Up-Label{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.About-Us{
  justify-content: end;
  width: 140px;
  border: 3px solid green;
  padding: 5px;
  margin: 2px;
  text-align: center;
  font-size: 25px;
}
.Footer{
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  min-height: calc(10vh - 10px);
  position: relative;
}
