body{
  font-family: sans-serif;
  max-width: 600px;
  margin-top: 32px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.Cafe-Menu{
  font-size: 36px;
  text-align: center;
  color: blue;
  margin-bottom: 30px;
}
.Search-Menu{
  padding: 6px;
  font-size: 10px;
  color: gray;
  border: 1px solid blue;
  border-radius: 4px;
  margin-left: 50px;
}

.Menu-Name{
  color: black;
  font-size: 36px;
  margin-bottom: 10px;
  text-decoration: underline;
}


.MenuItem{
  margin-bottom: 20px;
  padding: 10px;
}
.MenuButtPrice{
  display: flex;
  align-items: center;
  align-content: center;
}
.MenuItemButton{
  padding: 6px;
  border-radius: 7px;
  background-color: gray;
  color: blue;
  border: 4px;
  margin-left: 10px;
}
.MenuItemName{
  font-size: 25px;
  text-decoration: underline;
  color: red;
  margin-bottom: 20px;

}
.Menu-Item-Image{
  padding-left: 5px;
  margin-top: 30px;
  margin-bottom: 16px;
}
.MenuItemDescription{
  font-size: 18px;
  margin-bottom: 15px;
  padding-left: 10px;
  margin-left: 10px;

}

.MenuItemprice{
  margin-left: 20px;
}

.Items{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}


.AllOrders{
margin-left: 50px;
}
.AddmenuItems{
  margin-left: 50px;
}

.MenusNames {
  left: 0;
  line-height: 20px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.All-Menus{
  display: grid;
  text-align: center;
  grid-template-columns: auto auto auto;
  grid-row-gap: 30px;
  grid-column-gap: 30px;

}

.Cafe-Head{
  align-items: center;
  align-content: center;
}
.Options{
  margin-left: 200px;
}
.Menu-Title{
  margin-left: 20px;
}
.Options-List{
  font-size: 20px;
  margin-top: 30px;
  margin-left: 50px;
  align-items: center;
  align-content: center;
}
.Menu-Delete{
  margin-left: 10px;
}
.MenuChangeTop{
  text-align: center;
}
.Add-Button{
  padding: 2px;
  font-size: 14px;
  color:rgb(80, 74, 74);
  background-color: green;
  margin-left: 10px;
  border-radius: 1px;
  border:1px solid transparent;
}
.CartBeside{
  display: flex;
}
.Add-Butt{
  padding: 2px;
  font-size: 14px;
  color: red;
  margin-left: 10px;
  border-radius: 1px;
  border:1px solid transparent;
}
