.Orders {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.Orders > p {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}
.Order-Id{
  color: gray;
}
.Order-UserId{
  color: blue;
}

.status{
  font-size: 50px;
  color: blue;
}
.status-display{
  font-size: 30px;
  color: red;
}
.pending-orders{
  font-size: 40px;
  color: olivedrab;
}
