.NewUsers_Title{
  color: blue;
  font-size: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
}
.New_User{
  margin-bottom: 20px;
  margin-left: 50px;
  margin-left: 50px;

}
.Form-Section{
  margin-bottom: 30px;

}
.FormInput-Label{
  margin-bottom: 30px;
  color: #555555;
}
.Form-Input{
  font-size: 20px;
  padding: 6px;
  margin-bottom: 20px;
}
.Form-Submit{
  font-size: 20px;
  background-color: #38d838;
  padding: 8px;
  border: 0;
  border-radius: 4px;
  margin-top: 20px;

}
.User-Signs{
  font-size: 20px;
  margin-bottom: 20px;
  color: blue;

}
.User-Page{
align-items: center;
align-content: center;

}
.User-Sign{
  margin-bottom: 20px;
}
.UserOrders{
  margin-top: 20px;
  font-size: 28px;
  margin-left: 20px;

}
.UserorderDetails{
  margin-top: 20px;
  display: flex;

}
